### IMPORTANT ###
# Ensure that you change the name of this file to config.env!
# Do NOT commit this file to git. It will contain your chat service token and bot admins
#################

# Backend Chat Service Selection - Ex: 'Discord', 'Slack', etc
BACKEND='Slack'

# Chat Service Token: The token to authenticate the chat service (EX: Slack, Discord, etc)
CHAT_SERVICE_TOKEN='<token>'

# The prefix character to invoke this bot. EX: !help
BOT_PREFIX='!'

# Bot admins (optional but recommended)
# Slack -> @username : Discord username#0001 where #0001 is the Discord user ID
# Note: For Slack you MUST use your true username and not your display name
# This item can be a comma seperated list of usernames - EX: '@username1,@username2'
BOT_ADMINS='@username'

# If using Discord, enable the line below
# BOT_EXTRA_BACKEND_DIR='/app/backend/err-backend-discord'
