### IMPORTANT ###
# Ensure that you change the name of this file to creds.env!
# This file is for storing credentials to load into your bots environment
# DO NOT COMMIT THIS FILE UNLESS IT IS THE 'creds.env.example' FILE!
#################

# Chat Service Token: The token to authenticate the chat service (EX: Slack, Discord, etc)
CHAT_SERVICE_TOKEN='<value>'

# AWS Credentials
# AWS_ACCESS_KEY_ID='<value>'
# AWS_SECRET_ACCESS_KEY='<value>'

# RIOT
# RIOT_TOKEN='<value>'

# SPOTIFY
# SPOTIFY_CLIENT_ID='<value>'
# SPOTIFY_CLIENT_SECRET='<value>'

# SENTRY
# SENTRY='https://<id>@<id>.ingest.sentry.io/<id>'
