# bug fix: https://stackoverflow.com/questions/74981558/error-updating-python3-pip-attributeerror-module-lib-has-no-attribute-openss
cryptography==41.0.0

# errbot
errbot==6.1.9

# league
riotwatcher==3.2.4

# errbot[discord]
PyNaCl==1.4.0

# DynamoDB
pynamodb==5.3.2

# AWS
boto3==1.26.16

# yt-dlp / youtube-dl
yt-dlp==2023.3.4

# soundcloud downloader
scdl==2.7.3

# youtube string searching
youtube-search-python==1.6.6

# spotipy
spotipy==2.22.1

# text to speech
gTTS==2.2.3

# validators
validators==0.20.0

# psutil
psutil==5.9.4

# sentry
sentry-sdk==1.14.0

# selenium
selenium==4.6.0
PyVirtualDisplay==2.2

# Pillow
Pillow==9.3.0

# QR Code generator
qrcode==7.3.1

########## DISABLED ##########

# Azure
# azure-cosmos==4.2.0

# errbot[slack] # Uncomment all the lines below this one to enable Slack support
# webtest==2.0.35
# pygments-markdown-lexer>=0.1.0.dev39
# ansi==0.2.0
# dulwich>=0.19.16
# pyOpenSSL==20.0.1
# colorlog==5.0.1
# daemonize==2.5.0
# deepmerge>=0.1.0
# setuptools==57.4.0
# flask==2.0.1
# markdown>=3.3
# requests==2.26.0
# Pygments>=2.0.2
# jinja2==3.0.1
# slackclient<2.0,>=1.0.5
# urllib3>=1.24.1
# certifi==2021.5.30
# six<2.0a0,>=1.10
# websocket-client<0.55.0,>=0.35
# charset-normalizer~=2.0.0
# idna<4,>=2.5
# click>=7.1.2
# Werkzeug>=2.0
# itsdangerous>=2.0
# MarkupSafe>=2.0
# cryptography>=3.2
# cffi>=1.12
# pycparser==2.20
# waitress>=0.8.5
# beautifulsoup4==4.9.3
# WebOb>=1.2
# soupsieve>1.2
