apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: errbot
  name: errbot
  labels:
    name: errbot
spec:
  replicas: 1
  selector:
    matchLabels:
      name: errbot
  template:
    metadata:
      labels:
        name: errbot
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
    spec:
      containers:
        - name: errbot
          image: errbot:latest
          imagePullPolicy: Never # since we are using a local image in minikube
          resources:
            limits:
              cpu: "2"
              memory: "8Gi"
            requests:
              cpu: "1"
              memory: "400Mi"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
          env:
            # General ENV Vars
            - name: BACKEND
              value: "Discord"
            - name: BOT_STATUS_MESSAGE
              value: "errbot.birki.io | .help"
            - name: BOT_PREFIX
              value: "!"
            - name: BOT_HOME_CHANNEL
              value: "errbot"
            - name: DOCS_URL
              value: "https://errbot.birki.io"
            - name: BOT_ADMINS
              value: "Birki#0001"
            - name: BOT_EXTRA_BACKEND_DIR
              value: "/app/backend/err-backend-discord"
            - name: RIOT_REGION
              value: "na1"
            - name: RIOT_REGION_V5
              value: "AMERICAS"
            - name: IMAGE_TAG
              value: "test"
            - name: DISABLE_LEAGUE_CRON
              value: "True"
            - name: LOCALSTACK
              value: "http://localstack.localstack:4566" # kubernetes service -> http://service.namespace:port
            - name: CHAT_SERVICE_TOKEN # required
              valueFrom:
                secretKeyRef:
                  name: errbot-secret
                  key: CHAT_SERVICE_TOKEN
            # - name: RIOT_TOKEN # optional
            #   valueFrom:
            #     secretKeyRef:
            #       name: errbot-secret
            #       key: RIOT_TOKEN
            # - name: SPOTIFY_CLIENT_ID # optional
            #   valueFrom:
            #     secretKeyRef:
            #       name: errbot-secret
            #       key: SPOTIFY_CLIENT_ID
            # - name: SPOTIFY_CLIENT_SECRET # optional
            #   valueFrom:
            #     secretKeyRef:
            #       name: errbot-secret
            #       key: SPOTIFY_CLIENT_SECRET
      automountServiceAccountToken: false
  strategy: {}

